
.alamin {
	margin: 0;
	outline: 0;
	background-color: #171a1d;


}

.navber{
	position: relative;
	width: 100%;
}
.top-nav{

	padding-right: 0px;
	position: relative;
}

.reg-form {
	margin: 40px;
	padding-left: 290px;
}
.ma
{
	margin: 40px;
	padding:50px;

}

